	h1 { 
	text-align: center;
  color: rgb(226 128 253);
  background-color: black
}
title {
	text-align: center 40px
}
body {
	background-color: rgb(255 208 251)
}
.MODELOS {
	text-align: center;
}
h3 {
	text-align: center;
}	
img {
  display: block;
  margin: auto;
  border: black 10px outset;
  }
.caja {
	font-family: sans-serif;
	color: rgb(141 99 60)
}
.yoha {
	    font-family: 'Bebas Neue', cursive;

    font-family: 'Slabo 27px', serif;
    background-color: black;
}
.intro {
	font-size: 20px
}